

.logo {
    font-size: 4rem;
    font-weight: 600;
    color : #ff0066;
}

.navbar {
    margin:auto;  
    position: top;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items:center;
    padding: 10px 10px;
    background-color:beige;
    
}

.nav-links {
    display:flex;
    gap: 20px;
    align-items: center;
}

body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}


/* Home Section */
.home-title{
    text-align: center;
    color:rgb(122, 10, 111);
    text-decoration: underline;
    padding: 20px 20px;
    margin: auto;   
    font-family: sans-serif;
    position: relative;
}


.home-description{
    
    letter-spacing: 3px;
    margin:auto;
    color:rgb(122, 10, 111);
    font-family: serif;
    font-weight: bold;
    font-size:30px;
    padding: 40px;
    text-align:center;
    margin-bottom: 160px;
    position: relative;
    line-height: 1.5em;
}


.home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    background: url('home.jpg') no-repeat center/cover; /* Background image */
    opacity: 0.4; 
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.home-description {
    animation: fadeIn 2s ease-in-out;
}


/*About Section*/
.about-title{
    text-align: center;
    color:rgb(122, 10, 111);
    text-decoration: underline;
    padding: 20px 20px;
    margin: auto;
    font-family: sans-serif;
   
}

.about-description{
    padding: 40px;
    font-size:26px;
    font-weight: bold;
    font-family: serif;
    margin:auto;
    color:rgb(122, 10, 111);
    text-align:center;
    margin-bottom: 25px;
    
}

.about::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    background: url('templates/veggies.jpg') no-repeat center/cover; /* Background image */
    opacity: 0.1;
    
}

@keyframes slideIn {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.about-description {
    animation: slideIn 1.5s ease-out;
}


/*service Section*/
.service-title{
    text-align: center;
    color:rgb(122, 10, 111);
    text-decoration: underline;
    padding: 20px 20px;
    margin: auto;
    font-family: sans-serif;
   
}

.service-description{
    text-align:center;
    font-weight: bold;
    font-family: serif;
    color:rgb(122, 10, 111);
    font-size: 26px;
    margin:auto;    
    padding: 20px;
    
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 30px; /* Spacing between grid items */
    padding: 20px;
    color:rgb(122, 10, 111);
    font-size: 22px;
    
}

.card {
    background-color:beige; /* Light background */
    padding: 20px;
    text-align: center;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    
}

  /* Icon styling */
.card i {
    font-size: 30px; /* Icon size */
    color:rgb(122, 10, 111);/* Icon color */
    margin-bottom: 10px;
    
    
}


.card:hover{
    background-color: #f66b4c; /* Different background color */
    color: white; /* Text color */
   
}

.card i:hover{
    color: white; /* Icon color */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.grid-container {
    animation: fadeIn 1.5s ease-in-out;
}


/* Menu Section */
.menu-title{
    text-align: center;
    color:rgb(122, 10, 111);
    text-decoration: underline;
    padding: 20px 20px;
    margin: auto;
    font-family: sans-serif;
   
}

.menu-description{
    text-align:center;
    font-size:26px;
    font-weight: bold;
    font-family: serif;
    margin:auto;
    color:rgb(122, 10, 111);
    padding: 20px;
    
}


.menu-item {
    display: flex;
    padding: 10px;
    align-items: center; /* Center items vertically */
    gap: 30px; /* Adds spacing between image and text */
    margin-bottom: 15px; /* Space between menu items */
    
}

.menu-item:hover {
    transform: scale(1.09);
}

.menu-item img {
    margin-right: 20px; /* Adds spacing between the image and text */
   
}

.menu-text {
    font-size: 18px;
    color: rgb(122, 10, 111);
    font-family: serif;
    
}

.tab-pane{
    background-color: beige; /* Light background */
    
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

@keyframes slideIn {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

.menu-item{
    animation: slideIn 1.5s ease-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.menu-grid {
    animation: fadeIn 2s ease-in-out;
}



/*contact Section*/
.contact-title{
    text-align: center;
    color:rgb(122, 10, 111);
    text-decoration: underline;
    padding:20px 20px;
    margin: auto;
    font-family: sans-serif;
}

.contact-description{
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: rgb(122, 10, 111);
    font-family: serif;
    margin:auto;
    padding: 20px;
}

.address-content{
    color :rgb(122, 10, 111);
    font-size: 20px;
    font-weight: bold;
    font-family: serif;

}

.social-media{
    color : rgb(122, 10, 111);
    font-size: 20px;
    font-weight: bold;
    
}

.hours{
    color : rgb(122, 10, 111);
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
}

.newsletter{
    color : rgb(122, 10, 111);
    font-size: 20px;
    font-weight: bold;

}

.btn{
    background-color: rgb(122, 10, 111);
    color: white;
    border-radius: none;
    padding: 10px 20px;
    font-size: 16px;
}

.contact-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
    font-family: serif;
}

p {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between icon and text */
    font-family: serif;
}

.footer-content{
    text-align: center;
    color:white;
    background-color: rgb(122, 10, 111);
    padding:30px;
    margin:auto;
    font-family: serif;
}



@media (min-width > 480px) {
}
@media (min-width > 540px) {
}
@media (min-width > 768px) {
}
@media (min-width > 1024px) {
}

